<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="FFTviewerFrame">
		<title>RASDRproc</title>
		<size>900,700</size>
		<minsize>900,700</minsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxMAXIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<size>800,600</size>
					<minsize>900,500</minsize>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" subclass="pnlSpectrum" variable="mSpectrum" member="yes">
							<style>0</style>
							<handler function="OnmSpectrumPaint" entry="EVT_PAINT" />
						</object>
						<label>Spectrum</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" subclass="PulsarPnl" variable="mPulsar" member="yes">
							<style>0</style>
						</object>
						<label>Pulsar</label>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Close</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem3" member="yes">
					<label>Start capturing samples</label>
					<handler function="OnMenuStartCaptureSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem4" member="yes">
					<label>Stop capturing samples</label>
					<handler function="OnMenuStopCaptureSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem6" member="yes">
					<label>Save Configuration</label>
					<handler function="OnMenuItemSaveConfigSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Tools</label>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem7" member="yes">
					<label>Control Panel</label>
					<handler function="OnMenuItem7Selected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Performance Parameters</label>
				<object class="wxMenuItem" name="idFrameDelay" variable="MenuItem8" member="yes">
					<label>Frame Delay</label>
					<handler function="OnFrameDelaySelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idDsplayTime" variable="DispTime" member="yes">
					<label>Display Time</label>
					<handler function="OnDispTimeSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>Define Output</label>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem5" member="yes">
					<label>Setup FFT  Output</label>
					<handler function="OnSetupFFTOutSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem9" member="yes">
					<label>Setup Power Output</label>
					<handler function="OnSetupPWROutSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenu" name="ID_MENUITEM8" variable="MenuItem10" member="yes">
					<label>Setup Pulse Output</label>
					<object class="wxMenuItem" name="ID_MENUITEM10" variable="SetupDMOutMenu" member="yes">
						<label>Setup DM Data Output</label>
						<handler function="OnSetupDMOutSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem11" member="yes">
						<label>Setup Pulse Data Output</label>
						<handler function="OnSetupPulsePeriodOutSelected" entry="EVT_MENU" />
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu6" member="yes">
				<label>Simulation</label>
				<object class="wxMenuItem" name="ID_MENUITEM11" variable="Setup_Sim" member="yes">
					<label>Setup Simulation</label>
					<handler function="OnSetup_SimSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="mStatusBar" member="yes">
			<fields>3</fields>
			<widths>10,-128,-550</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL,wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
