<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Setup_Simulator">
		<title>SetupSimulation</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>184,160</pos>
			<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
				<cols>2</cols>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
						<label>PULSAR SIMULATION FACTORS</label>
						<font>
							<size>12</size>
							<style>italic</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="spacer">
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Dispersion Measure : </label>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxComboBox" name="ID_COMBOBOX1" variable="DM_Box" member="yes">
						<content>
							<item>2.65</item>
							<item>26.8</item>
							<item>50.4</item>
							<item>56.8</item>
							<item>68.0</item>
						</content>
						<selection>1</selection>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>Pulse Period (mS) : </label>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxComboBox" name="ID_COMBOBOX2" variable="Period_Box" member="yes">
						<content>
							<item>5.75</item>
							<item>33.08</item>
							<item>89.3</item>
							<item>714.5</item>
						</content>
						<selection>3</selection>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
						<label>Duty Cycle (% On) : </label>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxComboBox" name="ID_COMBOBOX3" variable="Duty_Box" member="yes">
						<content>
							<item>5.0</item>
							<item>10.0</item>
							<item>15.0</item>
							<item>20.0</item>
							<item>25.0</item>
							<item>30.0</item>
							<item>35.0</item>
							<item>40.0</item>
							<item>45.0</item>
							<item>50.0</item>
						</content>
						<selection>4</selection>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
						<label>Pulse Level Factor : </label>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxComboBox" name="ID_COMBOBOX4" variable="Factor_Box" member="yes">
						<content>
							<item>0.95</item>
							<item>0.96</item>
							<item>0.97</item>
							<item>0.98</item>
							<item>0.99</item>
							<item>1.0</item>
							<item>1.0001</item>
							<item>1.1</item>
							<item>1.2</item>
							<item>1.3</item>
							<item>1.4</item>
							<item>1.5</item>
							<item>2.0</item>
						</content>
						<selection>6</selection>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTON1" variable="OKbtn" member="yes">
						<label>OK</label>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
						<handler function="OnOKbtnClick" entry="EVT_BUTTON" />
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTON2" variable="Cancel_Btn" member="yes">
						<label>CANCEL</label>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Times New Roman</face>
						</font>
						<handler function="OnCancel_BtnClick" entry="EVT_BUTTON" />
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
